@model Repeat.Models.Event
@{ ViewData["Title"] = "EventTickets"; }
<div class="ticket_details">
    <div class="ticket_details__title">Ready to party?</div>
    <div class="row ticket_details__row">
        <div class="col-md-4">
            <form asp-action="EventTickets">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EventId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label ticket_details__item"></label>
                    <div class="ticket_item">@Html.DisplayFor(model => model.Name)</div>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label ticket_details__item"></label>
                    <div class="ticket_item">@Html.DisplayFor(model => model.Price) &nbsp kn</div>
                </div>
                <div class="form-group">
                    <label asp-for="Tickets" class="control-label ticket_details__item"> Available tickets</label>
                    <div class="ticket_item">@Html.DisplayFor(model => model.Tickets)</div>
                </div>
                <div class="form-group ticket_details__numberOfTickets">
                    <label class="control-label">Buy Tickets (max 9)</label>
                    <input type="number" name="numberTickets" min="1" max="9" placeholder="Enter the number of tickets" class="form-control" />
                </div>
                <div class="ticket_details__message c-theme">@TempData["MsgChangeStatus"]</div>
                <div class="form-group">
                    <input type="submit" value="Buy" class="btn btn-success" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Events</a>
                </div>
            </form>
        </div>
    </div>
</div>