@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<div class="about_info">
    <h2 class="about_info__title">Something About Us</h2>
    <div class="about_info__textblock">
        <p class="about_info__text">
            We are a one man developer team from Croatia trying to help people with event and club organisation.
            The goal is to have all of the events in one place to make searching very user-friendly.
            We also provide a simple club/event management system for administrators to use.
        </p>
        <p class="about_info__text">
            For <b>administrator</b> we provide the possibility of adding, editing and deleting data with just one click.
            Also as administrator you can choose pictures which will be displayed and cropped inside of the event card.
            Each club has a list of events which can be modified by the administrator.
        </p>
        <p class="about_info__text">
            For <b>users</b> we provide a search tool for browsing events in their desired cities and option to buy tickets for selected event.
            You can view details of the event by clicking on a card displayed in Home View where you can also buy tickets.
            Also as user you can see club details by clicking on the name of the club in event details section.
            In event details view you can see the name of the event, the name of the club, beginning and ending time, number of tickets and the price in HRK.
            The location of the club is also seen in club details view and if you get lost in a city, you can always check club’s location or contact the club by phone to get directions.
            We also want you to share it on social network so your friends can know that you are going to that event.
        <p class="about_info__text">
            <b>NOTE:</b> This is only for practising purposes. Event and club data is not valid at the moment so please <b>DO NOT</b> take this data at face value!
        </p>
    </div>
    <div class="about_info__infoblock2">
        <table class="table table-borderless about_info__table">
            <thead class="thead about_info__thead">
                <tr>
                    <th>
                        Company
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Contact
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Repeat d.o.o.
                    </td>
                    <td>
                        Pavlenski put 5a, 10090, Zagreb
                    </td>
                    <td>
                        +385 958562919
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>