@model IEnumerable<Repeat.Models.Image>
@{
    ViewData["Title"] = "Images";
}
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-light table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageName)
                </td>
                <td class="table_buttons">
                    <a asp-action="Details" asp-route-id="@item.ImageId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ImageId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
